<main class="details">
  <div class="details__product">
    <picture>
      <img [src]="product.image" />
    </picture>
    <div class="details__product__infos">
      <h1>{{ product.title }}</h1>
      <p class="details__product__infos-category">
        Category: {{ product.category }}
      </p>
      <p class="details__product__infos-rating">
        Rating: {{ product.rating.rate }} ({{ product.rating.count }})
      </p>
      <p class="details__product__infos-description">
        {{ product.description }}
      </p>
    </div>
    <div class="details__product__values">
      <p>Price: {{ product.price | price }}</p>
      <div class="details__product__values-buttons">
        <button>
          <i-lucide [img]="heart"></i-lucide>
          Favorite
        </button>
        <button>
          <i-lucide [img]="shoppingCart"></i-lucide>
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</main>
