<main class="home">
  <div class="home__carousel">
    <app-carousel></app-carousel>
  </div>
  <div class="home__categories">
    <app-card-category
      *ngFor="let category of allCategories"
      [category]="category"
    ></app-card-category>
  </div>
  <div class="home__products">
    <app-card-product
      *ngFor="let product of allProducts.slice(0, quantityProducts)"
      [image]="product.image"
      [title]="product.title"
      [rate]="product.rating.rate"
      [count]="product.rating.count"
      [price]="product.price"
    ></app-card-product>
  </div>
  <button
    *ngIf="quantityProducts < allProducts.length"
    (click)="loadMore()"
    class="home__load-more"
  >
    LOAD MORE
  </button>
</main>
